*.RData
*.bbl
*.blg
*.log
*.synctex.gz
*.aux
*.toc
*.config
*.input
*.properties
*.question
*.results
*.success
*.Rhistory
*.DS_Store*
*dump.rdb
raw*
*submiterator*
*object_stroop_corpus/
*0_old/
*venv3
*writing/QP1*
*node_modules*
*cogsci_2020.pdf
writing/2020_CogSci/paper/cogsci_
*2020.pdf
*.csv
*2020_QP1defense*
*revisions_todo.txt